<?xml version="1.0" encoding="utf-8" ?>

<!-- Widget formats

dropdown
<ComboBox id="uniquename" x="xpos" y="ypos" width="200" label="Label Name " />

slider
<Slider id="uniquename" x ="xpos" y ="ypos" width="150" min="0" max="100" tick="25" label="Label Name " />

text field
<TextInput id="uniquename" x="xpos" y="ypos" width="150" label="Label Name " />

key input
<KeyInput id="uniquename" x="xpos" y="ypos" width="150" label="Label Name " />

-->

<data>

	<page label="Graphics">
		<ComboBox id="antialiasing" x="35" y="65" width="200" label="Anti aliasing " />
		<ComboBox id="fullscreen" x="35" y="95" width="75" label="Full Screen " />
		<ComboBox id="renderingdevice" x="35" y="125" width="200" label="Rendering Device " />
		<ComboBox id="vsync" x="35" y="155" width="75" label="VSync " />
		<ComboBox id="resolution" x="35" y="185" width="200" label="Resolution " />
		<ComboBox id="srgb" x="35" y="215" width="75" label="sRGB Gamma Conversion " />
		<ComboBox id="texturefilter" x="35" y="245" width="200" label="Texture Filtering " />
		<ComboBox id="shadows" x="35" y="275" width="75" label="Shadows " />
		<ComboBox id="shadows" x="35" y="305" width="75" label="Texture Detail " />
		<ComboBox id="shadows" x="35" y="335" width="75" label="Environment Mapping " />
	</page>

	<page label="Sound">
		<Slider id="effectsVolume" x ="25" y ="65" width="150" min="0" max="100" tick="2" label="Effects Volume   " />
		<Slider id="musicVolume" x ="25" y ="115" width="150" min="0" max="100" tick="2" label=" Music Volume   " />
	</page>

	<page label="Controls">
		<KeyInput id="InputControlBoost" x="35" y="95" width="50" label="Boost " />
		<KeyInput id="InputUseItemUp" x="35" y="125" width="50" label="Use Item Forward " />
		<KeyInput id="InputUseItemDown" x="35" y="155" width="50" label="Use Item Behind " />
		<KeyInput id="InputControlReset" x="35" y="185" width="50" label="Reset Kart " />
		<KeyInput id="InputControlAccel" x="35" y="215" width="50" label="Forward " />
		<KeyInput id="InputControlReverse" x="35" y="245" width="50" label="Reverse " />
		<KeyInput id="InputControlRight" x="35" y="275" width="50" label="Right " />
		<KeyInput id="InputControlLeft" x="35" y="305" width="50" label="Left " />
		<KeyInput id="InputControlLookBack" x="35" y="365" width="50" label="Look Back " />
		<KeyInput id="InputShowPlayers" x="35" y="395" width="50" label="Player Roster " />
		<KeyInput id="InputAllChat" x="35" y="425" width="50" label="Chat " />
		<KeyInput id="InputEscape" x="35" y="455" width="50" label="Exit " />
	</page>

	<page label="Multiplayer">
		<TextInput id="playername" x="35" y="65" width="200" label="Player Name " />
		<ComboBox id="customcontent" x="35" y="95" width="75" label="Accept custom content " />
	</page>
	<page label="Misc.">
		<Slider id="lol" x ="25" y ="65" width="150" min="99" max="100" tick="1" label="% of your heart that feels we should win IGF " />
	</page>
</data>